{% extends 'base.html' %}{% load static %}

{% block title %}Créer quiz{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/create_quiz.css' %}">{% endblock %}
{% block js %}
    <script src="{% static 'js/create_quiz.js' %}"></script>{% endblock %}
{% block main %}
    <div class="page-wrapper p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Créer mon quiz</h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype= "multipart/form-data">
                        {% csrf_token %}

                        <div class="form-row">
                            <div class="name">{{ form.name.label }}</div>
                            <div class="value">
                                <div class="input-group">
                                    {{ form.name }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">{{ form.picture.label }}</div>
                            <div class="value">
                                <div class="input-group">
                                    {{form.picture}}
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn--radius-2" type="submit">Créer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}