{% extends 'base.html' %}{% load static %}

{% block title %}Catégories{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/sub_categories.css' %}">{% endblock %}

{% block main %}

    <div class="wrapper-grey padded">
      <div class="container">
          <h2 class="text-center">Choisi ton quiz</h2>
          <div class="row">
          {% if object_list|length == 0 %}
            <h1>Vous n'avez pas creér de quiz</h1>
              <h2>Pour créer un quiz cliquez sur "Créer un quiz"</h2>
          {% else %}
              {% for quiz in object_list %}

                    <div class="col-sm-4">
                    <a class="trash-icon-a" href="{% url 'delete_quiz' quiz.id %}"> <img src="{% static 'img/poubelle-de-recyclage.png' %}" class="trash-icon" alt="Trash Icon"></a>
                        <a href="{% url 'my_questions' quiz.id %}">
                            <div class="card" style="background-image : url('{{ "../" }}{{ quiz.picture }}');">
                              <div class="card-category">{{ quiz.name }}</div>
                            </div>
                        </a>
                    </div>
              {% endfor %}
          {% endif %}

          </div>
      </div>
    </div>

{% endblock %}